<%- include('partials/header') %>
<h2>Add Review</h2>
<form action="/reviews/add" method="POST" enctype="multipart/form-data">
  <input type="text" name="isbn" placeholder="ISBN"><br>
  <input type="text" name="title" placeholder="Book Title"><br>
  <input type="text" name="authors" placeholder="Authors"><br>
  <input type="number" name="rating" min="1" max="5" required><br>
  <textarea name="content" placeholder="Your review..." required></textarea><br>
  <input type="file" name="cover"><br>
  <button type="submit">Submit</button>
</form>
<%- include('partials/footer') %>
